{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Our Sessions</h2>
            <hr class="w-50 mb-1" />
        </div>
    </div>
    {% if request.user.is_superuser %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <a href="{% url 'add_session' %}" class="post-link">
                    <h2 class="logo-font add-logo"><strong>Add New a Session</strong></h2>
                </a>
                <hr />
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Part to iterate through each sessions -->

    <div class="row">
        <div class="col-10 workouts-container offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for session in our_sessions %}
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="card h-150 border-0 image-container">
                            <h3 class="logo-font session-logo-link"><strong><a href="{% url 'session_detail' session.id %}"
                                        class="nav-link" target="_blank">Session: {{ session.name }}</a></strong></h3>
                            {% if session.image %}
                            <a href="{% url 'session_detail' session.id %}" class="nav-link" target="_blank">
                                <img class="card-img-top img-fluid h-150" src="../../../media/{{ session.image }}"
                                    alt="{{ session.name }}" />
                            </a>
                            {% else %}
                            <img class="card-img-top img-fluid h-150" src="/media/noimage.png" alt="{{ session.name }}" />
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-sm-12 text-center mt-lg-5">
                        <div class="card h-150 border-0">
                            <hr class="w-50 mb-0" />
                            <span class="bg-white pt-0 border-0">
                                <p><strong>Description: </strong>{{ session.description }}
                                </p>
                                <p><strong>Location: </strong>{{ session.place }}</p>
                                <p>
                                    <strong>Instructors: </strong>{{ session.instructors }}
                                </p>
                                <p>
                                    <strong>Price Per Session: </strong>{{ session.price }}
                                </p>
                            </span>
                        </div>
                    </div>
                    <br>
                    <br>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}